@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d2b5;
}

.header {
  margin: 40px;
  font-size: 5em;
  color: #222;
}

#pen-logo {
  height: 0.8em;
}

footer {
  margin: 50px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#github-logo {
  width: 2em;
}

.grid-container {
  display: grid;
  height: 540px;
  width: 540px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 6px;
  background: white;
}

.grid-box {
  background: rgba(255, 255, 255, 1);
  border: black;
}
.grid-container div {
  /* background-color: white; */
  border: black;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

#grid-size-value {
  font-size: 2em;
}

.grid-size-slider {
  appearance: none;
  background: none;
  width: 360px;
  cursor: pointer;
  outline: none;
}

.grid-size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #222;
  height: 16px;
  width: 28px;
  border-radius: 25%;
  margin-top: -4px;
  transition: transform 0.1s ease;
}
.grid-size-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.grid-size-slider::-webkit-slider-runnable-track {
  height: 8px;
  background: #f5f5f5;
  border-radius: 20px;
}

#settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#settings-container button {
  height: 60px;
  width: 120px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  background: #f5f5f5;
  transition: box-shadow 0.2s ease;
  transition: scale 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 6px;
}

#settings-container button:hover {
  scale: 1.2;
  box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 9px;
}

#settings-container button:active {
  opacity: 0.9;
  scale: 1.15;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 8px;
}

.active {
  scale: 1.15;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 8px;
}
